---
layout: compress
---

<!DOCTYPE html>
<html lang="zh">

    {% if page.title != 'index' %}
        {% include head.html %}
    {% else %}
        {% include index_head.html %}
    {% endif %}

    <!-- MathJax Section -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
      });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous"></script>

<body id="page-top" class="landing-page">

    {% if page.title != 'index' %}
        {% include blog_header.html %}
    {% endif %}

    {{ content }}

    {% if page.title != 'index' %}
        {% include foot.html %}
    {% else %}
        {% include index_foot.html %}
    {% endif %}

</body>
</html>
